extend _layout

block login
  if (typeof(user.username) === 'undefined')
    span Welcome Guest!
    .username Username:
      input
    .password Password: 
      input(type='password')
    button Login
  else
    span Welcome #{user.username}
    button Logout

block content
  section#posts
    each post in posts
      article(class="post")
        header
          a.title(href='#') #{post.title}
          .details Posted on #{post.date.toUTCString()} by 
            a(href='#') #{post.author}
        p #{post.content}

  img(src='http://www.tilt-rotor.com/2006/200606_China/20060615_SubwayTrain.JPG',width='30%',height='30%')