extend _layout

block login
  if (typeof(user.username) === 'undefined')
    span Welcome Guest!
    .username Username:
      input
    .password Password: 
      input
    button Login
  else
    span Welcome #{user.username}
    button Logout

block content
  section#posts
    each post in posts
      article(class="post")
        header
          .title #{post.title}
          .details Posted on #{post.date} by #{post.author}
        p #{post.content}
