extend _layout

block login
  if (typeof(user.username) === 'undefined')
    span Welcome Guest!
    .username Username:
      input
    .password Password: 
      input(type='password')
    button Login
  else
    span Welcome #{user.username}
    button Logout

block content
  section#posts
    each post in posts
      article(class="post")
        header
          a.title(href='#') #{post.title}
          .details Posted on #{post.date.toUTCString()} by 
            a(href='#') #{post.author} 
            | in
            a(href='#') #{post.category}
        img(src='http://mybroadband.co.za/news/wp-content/uploads/2012/07/hacker-one-100x75.jpg').thumbnail
        != md(post.content)
        footer
          #tags Tags: 
          a(href='#').morelink Read more...