extend _layout

block login
  if (typeof(user.username) === 'undefined')
    span Welcome Guest!
    .username Username:
      input
    .password Password: 
      input
    button Login
  else
    span Welcome #{user.username}
    button Logout

block content
  for post in posts
    div(class="post")
      .title #{post.title}
      .details Posted on #{post.date} by #{post.author}
      .content #{post.content}
